<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.damenghai.chahuitong"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.SET_DEBUG_APP"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- ====================================友盟=================================== -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5563e50967e58e4bbf00179c">
        </meta-data>

        <!-- ###################分享##################### -->
        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.UMDefault"/>
        <!-- 微信 -->
        <activity
            android:name=".module.third.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <!-- 微博 -->
        <activity
            android:name=".module.third.WBShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <service
            android:name="com.sina.weibo.sdk.net.DownloadService"
            android:exported="false">
        </service>
        <!-- QQ -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="tencent1104563629"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <!-- ###################分享##################### -->
        <!-- ====================================友盟END=================================== -->


        <!-- ====================================支付START=================================== -->
        <!-- 微信支付START -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop">
        </activity>

        <receiver android:name="com.chaxin.paylibrary.pay.wxpay.AppRegister">
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP"/>
            </intent-filter>
        </receiver>
        <!-- 微信支付END -->
        <!-- ====================================支付END=================================== -->

        <activity
            android:name=".module.main.LaunchActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".module.main.MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".module.user.LoginActivity"
            android:label="@string/title_activity_login">
        </activity>
        <activity
            android:name=".module.special.SampleActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".module.special.BargainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".module.personal.FeedbackActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".module.user.RegisterActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".module.user.ForgotActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".module.mall.BuyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnspecified|adjustPan">
        </activity>
        <activity
            android:name=".module.common.WebViewActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".module.personal.PersonalActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ItemLineDecoration">
        </activity>
        <activity android:name=".module.address.AddressListActivity">
        </activity>
        <activity android:name=".module.address.AreaActivity">
        </activity>
        <activity android:name=".module.order.OrderListActivity">
        </activity>
        <activity
            android:name=".module.order.OrderDetailActivity"
            android:theme="@style/AppTheme.ItemLineDecoration">
        </activity>
        <activity android:name=".module.mall.CartActivity">
        </activity>
        <activity android:name=".module.personal.VoucherActivity">
        </activity>
        <activity
            android:name=".module.goods.GoodsDetailActivity"
            android:theme="@style/AppTheme.ItemLineDecoration">
        </activity>
        <activity
            android:name=".module.personal.FavoritesActivity"
            android:theme="@style/AppTheme.ItemLineDecoration">
        </activity>
        <activity android:name=".module.settings.SettingsActivity">
        </activity>
        <activity android:name=".module.settings.ProfileActivity">
        </activity>
        <activity android:name=".module.settings.ShareActivity">
        </activity>
        <activity android:name=".module.settings.AboutActivity">
        </activity>
        <activity android:name=".module.mall.PayActivity">
        </activity>
        <activity android:name=".module.main.SearchActivity">
        </activity>
        <activity android:name=".module.settings.ChangePasswordActivity">
        </activity>
        <activity
            android:name=".module.goods.GoodsListActivity"
            android:windowSoftInputMode="stateUnspecified|adjustPan">
        </activity>
        <activity android:name=".module.common.ImageBrowseActivity">
        </activity>
        <activity android:name=".module.order.WriteCommentActivity">
        </activity>
        <activity android:name=".module.trace.TraceListActivity">
        </activity>
        <activity android:name=".module.flea.FleaListActivity">
        </activity>
        <activity android:name=".module.mall.CategoryListActivity">
        </activity>
        <activity
            android:name=".module.trace.TraceDetailActivity"
            android:windowSoftInputMode="stateUnspecified|adjustPan">
        </activity>
        <activity android:name=".module.flea.FleaDetailActivity">
        </activity>
        <activity android:name=".module.user.UserInfoActivity">
        </activity>
        <activity android:name=".module.article.ArticleListActivity">
        </activity>
        <activity android:name=".module.user.PopularListActivity">
        </activity>
        <activity android:name=".module.message.MessageActivity">
        </activity>
        <activity android:name=".module.message.MessageListActivity">
        </activity>
        <activity android:name=".module.trace.TraceAddActivity">
        </activity>
        <activity android:name=".module.user.FindUserListActivity">
        </activity>
    </application>

</manifest>