<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.damenghai.chahuitong"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.SET_DEBUG_APP"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- ====================================支付START=================================== -->
        <!-- 微信支付START -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop">
        </activity>

        <receiver android:name="com.chaxin.paylibrary.pay.wxpay.AppRegister">
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP"/>
            </intent-filter>
        </receiver>
        <!-- 微信支付END -->
        <!-- ====================================支付END=================================== -->

        <activity
            android:name=".module.main.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".module.main.MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".module.user.LoginActivity"
            android:label="@string/title_activity_login">
            <intent-filter>
                <action android:name="com.cht.login"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".module.special.SampleActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".module.special.BargainActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="bargain"/>

            </intent-filter>
        </activity>
        <activity
            android:name=".module.personal.FeedbackActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.cht.feedback"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".module.user.RegisterActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".module.user.ForgotActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".module.mall.BuyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ItemLineDecoration"
            android:windowSoftInputMode="stateUnspecified|adjustPan">
        </activity>
        <activity
            android:name=".module.common.WebViewActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="www.chahuitong.com"
                    android:scheme="http"/>
            </intent-filter>
        </activity>
        <activity android:name=".module.personal.AddressListActivity">
            <intent-filter>
                <action android:name="com.cht.address"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".module.personal.AreaActivity">
        </activity>
        <activity android:name=".module.order.OrderListActivity">
        </activity>
        <activity
            android:name=".module.order.OrderDetailActivity"
            android:theme="@style/AppTheme.ItemLineDecoration">
        </activity>
        <activity android:name=".module.mall.CartListActivity">
        </activity>
        <activity android:name=".module.personal.VoucherListActivity">
            <intent-filter>
                <action android:name="com.cht.voucher"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".module.goods.GoodsDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ItemLineDecoration">
        </activity>
        <activity
            android:name=".module.personal.FavoritesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ItemLineDecoration">
            <intent-filter>
                <action android:name="com.cht.favorites"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".module.settings.SettingsActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".module.personal.ProfileActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.cht.profile"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".module.settings.ShareActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".module.settings.AboutActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".module.mall.PayActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".module.main.SearchActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".module.settings.ModifyPwdActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".module.goods.GoodsListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnspecified|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="goodsList"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".module.common.ImageBrowseActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".module.order.WriteCommentActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".module.trace.TraceListActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".module.flea.FleaListActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.cht.flea"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".module.mall.CategoryListActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".module.trace.TraceDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ItemLineDecoration"
            android:windowSoftInputMode="stateUnspecified|adjustPan">
        </activity>
        <activity
            android:name=".module.flea.FleaDetailActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".module.user.UserInfoActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="com.cht.user"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".module.article.ArticleListActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".module.user.PopularListActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".module.personal.MessageActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".module.personal.MessageListActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".module.trace.TraceAddActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".module.user.FindUserListActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".module.personal.AddressEditActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="com.cht.addressEdit" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
        <activity
            android:name=".module.flea.FleaAddActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.cht.fleaAdd" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.flea.FleaCateActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".module.flea.MyFleaActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.cht.myFlea"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".module.flea.FleaEditActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".module.user.FollowUserListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ItemLineDecoration">
        </activity>

        <service
            android:name=".module.settings.UpdateService"
            android:enabled="true"
            android:exported="false"
            >
        </service>

        <activity
            android:name=".module.article.ArticleDetailActivity"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>